.brand-select
    position: relative
    width: 200px
    label
        position: absolute
        top: 50%
        right: 100%
        margin-right: 8px
        transform: translateY(-50%)
    select
        width: 100%
    label
        white-space: nowrap