@import '../../config/colorSchema.styl';

.brand-button
    width: 180px
    height: 44px
    border-radius: 15px
    background-color: $colorGray2
    color: $colorWhite
    font: 700 18px / 1.2 Roboto
    border: none
    cursor: pointer    

    &:disabled
        opacity: .3
        cursor: not-allowed
        pointer-events: none