@import '../../../config/colorSchema.styl';

.menu-item
    margin-bottom: 12px
    font-size: 22px
    color: $colorWhite
    transition: text-shadow .2s ease-in-out
    &:hover
        text-shadow: 2px 2px 5px rgba($colorWhite, .7)