@import '../../config/colorSchema.styl'

.finished-quiz
    text-align: center

p
    font-size: 25px
    margin-bottom: 30px

button
    width: 180px
    height: 44px
    border-radius: 15px
    background-color: $colorGray2
    color: $colorWhite
    font: 700 18px / 1.2 Roboto
    border: none