@import '../../config/colorSchema.styl'

.finished-quiz
    text-align: center

p
    font-size: 25px
    margin-bottom: 20px

ul
    margin-bottom: 20px
    font-size: 20px
    text-align: left

li
    &.correct
        background-color: rgba($colorGreen, .1)
    &.incorrect
        background-color: rgba($colorRed, .1)
        
button
    width: 180px
    height: 44px
    border-radius: 15px
    background-color: $colorGray2
    color: $colorWhite
    font: 700 18px / 1.2 Roboto
    border: none
    cursor: pointer