@import '../../config/colorSchema.styl'

.quiz-item
    padding: 20px
    box-shadow: 3px 3px 10px 0 rgba($colorGray, .7)
    border-radius: 7px
    background-color: $colorGray2
    color: $colorWhite

.quiz-item-caption
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 15px
    font-size: 22px

.counter
    display: block
    margin-left: 5px
    color: $colorLightGray
    font-size: 55%
    font-weight: 300