.quiz-creator
    min-width: 300px
    width: 70%
    max-width: 600px
    margin: 0 auto

    .brand-input:nth-of-type(n+2):not(:last-of-type)
        margin-bottom: 10px
    
    fieldset
        margin-bottom: 30px
    
    .buttons-wrapper
        display: flex
        justify-content: space-between