.auth
    form
        width: 50%
        min-width: 500px
        margin: 0 auto
    .brand-input
        width: 250px
        margin: 0 auto 10px
    fieldset
        margin-bottom: 20px
        text-align: center
        button
            &:not(:last-of-type)
                margin-right: 25px